*, body, html {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

footer {
    margin-top:100%;
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

#footerh a {
    text-decoration: none;
    color: black;
    text-align: left;
}

header {
    padding: 60px;
}

#navbar {
    text-align: center;
    font-size: 25px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#navbar a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

#textnimg, #textnimg2 {
    display: flex;
    text-align: right;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
}

img {
    width: 250px;
    height: 350px;
    padding: 60px;
}

#takozh {
    padding: 60px;
    font-size: 25px;
}

#h1box {
    text-align: center;
    padding: 60px;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
}

#gallery img {
    padding: 0;
}